<form id="new-link">
  <label>URL:
    <input id="link-url">
  </label>
  <label>Title:
    <input id="link-title">
  </label>
  <input type="submit" value="Add Link">
</form>

<div id="links-list"></div>
<br><br>
<input type="text" id="myInput" placeholder="Search for link...">
<h2>Hot Reads!</h2>
<ol id="hot-reads">
<% @hot_links.each do |read| %>
  <li class='hot-read'>
    <a id="<%= read.read %>" class="url-link" href="<%= read.url %>"><%= read.url %></a>
    <p><%= link_to  "Delete Link", link_path(read), method: :delete %> | <%= link_to  "Edit Link", edit_link_path(read)%> </p>

    <button id="<%= read.id %>" class="read">Mark as Read</button>
  </li>
<% end %>
</ol>
