<form id="new-link">
  <label>URL:
    <input id="link-url">
  </label>
  <label>Title:
    <input id="link-title">
  </label>
  <input type="submit" value="Add Link">
</form>

<div id="links-list"></div>
<br><br>
<input class="search" type="text" id="myInput" placeholder="Search for link...">
<button id="show-all-read" class="filter-by-read">Show all read</button>
<button id="show-all-unread" class="filter-by-read">Show all Unread</button>
<button id="show-all" class="filter-by-read">Show all links</button>

<h2>Hot Reads!</h2>
<ol id="hot-reads">
<% @hot_links.each do |read| %>
  <li id="<%= read.read %>" class="hot-read">
    <a id="<%= read.read %>" class="url-link" href="<%= read.url %>"><%= read.url %></a>
    <p><%= link_to  "Edit Link", edit_link_path(read)%> </p>
    <p>Read: <%= read.read %> </p>
    <button id="<%= read.id %>" class="read">Mark as Read</button>
  </li>
<% end %>
</ol>
