<br>
<div class="container">

  <%= render 'shared/edit_link' %>


<br>
<div>
  <h3>  <%= current_user.name %>'s links</h3>
<table>
  <tr>
    <th>Link URL</th>
    <th>Title</th>
    <th>Read</th>
    <th>Mark as read</th>
  </tr>
  <%current_user.links.each do |link| %>
    <tr>
      <td><%=link.url%> </td>
      <td><%=link.title%> </td>
      <td class="link read-status"> <%= link.read %> </td>
      <td><button class="mark-as-read" id=<%=link.id  %>>Mark as Read</button></td>
      <td><%=link_to "Edit", edit_link_path(link)  %></td>
    </tr>
    <% end %>
</table>
</div>
