<form id="new-link">
  <label>URL:
    <input id="link-url">
  </label>
  <label>Title:
    <input id="link-title">
  </label>
  <input type="submit" value="Add Link">
</form>

<div id="links-list"></div>

<h2>Hot Reads!</h2>
<ol id="hot-reads">
<% @hot_links.each do |read| %>
  <li class='hot-read'>
    <a href="<%= read.url %>"><%= read.url %></a>
    <p>title: <%= read.title %></p>
    <p>read: <%= read.read %></p>
    <p><%= link_to  "Delete Link", link_path(read), method: :delete %></p>
    <p><%= link_to  "Edit Link", edit_link_path(read)%></p>
    <button id="<%= read.id %>" class="read">Mark as Read</button>
  </li>
<% end %>
</ol>
